@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.random-btn__img {
  cursor: pointer;
  height: 24px;
}

.random-btn__img--loading {
  cursor: wait;
  animation: spin 2s linear infinite;
}

.random-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.random-btn__button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  margin-right: 8px;

  font-size: 18px;

  cursor: pointer;
}
