.infocard {
  display: flex;
  justify-content: space-between;

  padding: 50px 30px;

  transition: 1s;
  cursor: pointer;
}

.infocard:hover {
  background-color: #333;
  color: #fff;
  transition: 1s;
}

.infocard__author {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: capitalize;
}

.infocard__genre {
  margin-top: 8px;
  text-transform: capitalize;
}

.infocard__goto-icon {
  font-size: 2.625rem;
  font-weight: 700;
}
